/* Typography */

header a {
    text-decoration: none;
    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

header a:hover {
    text-decoration: underline;
}

.title {
    font-size: 24px;
    line-height: 29px;

    @media only screen and (min-width: 768px) {
        font-size: 36px;
        line-height: 43px;
    }
}

.subtitle {
    font-size: 18px;
    line-height: 22px;

    @media only screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 29px;
    }
}

.body {
    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.body p, ul, ol, a {
    font-size: 14px;
    line-height: 17px;

    @media only screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 22px;
    }
}

.body a {
    text-decoration: none;
    color: #2f68b3;
}

.body a:hover {
    text-decoration: underline;
}

.body h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;

    @media only screen and (min-width: 768px) {
        font-size: 36px;
        line-height: 43px;
        font-weight: normal;
    }
}

.body h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;

    @media only screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 29px;
        font-weight: normal;
    }
}

/* `code` uses monospace which shows up a bit larger */
.body code {
    font-size: 12px;
    @media only screen and (min-width: 768px) {
        font-size: 14px;
    }
}

/* Styling for email box on index page */
.popout {
    background: #ebedef;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 10px 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 5px;
}

input[type="email"] {
    background-color: white;
    border: 1px solid #ced3d9;
    border-radius: 4px;
    display: block;
    padding: 0.75em 1em;
    width: 100%;
    margin-bottom: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4em;
    font-family: Vollkorn
}

input[type="submit"] {
    display: block;
    width: 100%;
    background: #2f68b3;
    border: 0;
    border-radius: 0.25em;
    color: #fff;
    outline: 0;
    padding: 0.75em 1em;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 0.5em;
    font-family: Vollkorn;
}

/* Fix stretched line height for subscripts and superscripts */
sub, sup {
  line-height: 0;
}

/* Force code blocks to wrap */
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Inspired by https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
    background: #f9f9f9;
    border-left: 0.5em solid #ccc;
    margin: 0em;
    padding: 0.5em;
}

blockquote p {
    display: inline;
}

/* Solid-line section breaks */
hr.solid {
  border-top: 0.1rem solid #fff;
}

/* Layout */

header {
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    position: absolute;

    @media only screen and (min-width: 1024px) {
       position: fixed; 
    }
}

#header-content {
    position: absolute;
    height: 100%;
    left: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: 1024px) {
        left: 3rem;
        right: 3rem;
    }
}

#main-content {
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-left: 1em;
    margin-right: 1em;
    width: auto;

    @media only screen and (min-width: 1024px) {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

img {
    max-width: 100%;
    height: auto;
}